.container {
  height: 100%;
  display: flex;
}

.main {
  width: 50vw;
  padding: 4rem 0;
}

.leftAside {
  flex: 1;
}

.rightAside {
  flex: 1;
}

.detailsTableContainer {
  margin: 4.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20vw;
}

.detailsTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; 
}

.detailsTableTd {
  border: 2px solid gray;
}

.historyContainer {
  width: 100%;
  height: 300px;
  align-self: left;
}

.productsContainer {
  max-height: 80vh;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.productTableContainer {
  overflow-y: scroll;
  overflow-x: hidden; 
  width: 100%;
  background-color: white; 
}

.searchInput {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: large;
}

.productTable {
  width: 100%;
  text-align: left;
  border-spacing: 5px;
}

.imageTh {
  z-index: 1;
  width: 80px;
}

.nameTh:hover, .priceTh:hover {
  color:#0070f3;
}

.nameTd {
  font-weight: 700;
}

.priceTd {
  font-weight: 700;
}

.priceTd:hover {
  color:#0070f3;
}

.btn {
  height: 4rem;
  font-size: 2rem;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  color: white;
  margin-top: 2px;
  background-color: rgb(75, 70, 70);
  width: 100%;
}

.btn:hover {
  background-color: #0070f3;
}
